#open-image-btn {
  background-color: orange;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: none;
  height: 35px;
}

progress {
  position: relative;
  border: 1px solid black;
  border-radius: none;
  width: 200px;
}

progress::-moz-progress-bar {
  background-color: orange;
}

progress::-webkit-progress-bar {
  background-color: orange;
}


progress + span {
  position: absolute;
  font-size: 12px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left: 18px;
}

.menu {
  background-color: azure;
}

@keyframes attention {
  0%    { background-color: mediumaquamarine; }
  50%   { background-color: red; }
  100%  { background-color: mediumaquamarine; }
}

@keyframes waiting {
  0%    { background-color: mediumaquamarine; }
  50%   { background-color: green; color:orange; }
  100%  { background-color: mediumaquamarine; }
}

@media only screen and (max-width: 1920px) {
  .toolbox {
    background-color: turquoise;
  }
  * {
    font-size: 16px;
  }
  #harmonic-plot {
    height: 250px;
  }
}

@media only screen and (max-width: 1366px) {
  .toolbox {
    background-color: blueviolet;
  }
  * {
    font-size: 12px;
  }
  #harmonic-plot {
    height: 200px;
  }
}

@media only screen and (max-width: 1024px) {
  .toolbox {
    background-color: yellowgreen;
  }

  * {
    font-size: 11px;
  }

  #harmonic-plot {
    height: 150px;
  }
}

#report {
}

.flex-line {
  display: flex;
  flex-direction: row;
}

.flex-line > * {
  flex: 1 1;
  flex-basis: 50%;
}

.flex-line a {
  background-color: pink;
  padding: 0 10px;
  line-height: 32px;
  margin: 2px;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
}

.flex-line a:hover {
  color: white !important;
  background-color: orange;
}

#open-image {
  padding: 0;
  display: none;
}

table {
  padding: 10px 0;
}

div#parameters > div {
  padding-bottom: 10px;
}

.vessels {
  background-color: mediumblue;
  padding: 0px 10px;
}

.dots {
  background-color: orange;
  padding: 0px 10px;
}

.global {
  background-color: violet;
  padding: 0px 10px;
}

.vessels ul {
  background-color: blue;
}

.vessels .tab-content {
  background-color: yellow;
}

.image {
  height: calc(100vh - 75px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: dimgray;
}

.menu-buttons {
  height: 35px;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  background-color: mediumaquamarine;
  display: flex;
  justify-content: space-between;
}

.menu-layers {
  height: 40px;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.menu-layer {
  display: flex;
  justify-content: flex-start;
}

.main-canvas {
  background-color: dimgray;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.tab-content {
  overflow: auto;
  height: calc(100vh - 50px);
}

#modeTab {
  height: 35px;
}

#modeTab a {
  border: none ;
  border-radius: 0;
  padding: 5px 15px;
  box-sizing: border-box;
}

#save-image-btn {
  display: block;
  height: 35px;
  padding: 5px 15px;
  background-color: lightsalmon;
}

.menu-layer {
  position: relative;
  box-sizing: border-box;
  padding: 8px;
}

.menu-layer .test-range {
  position: absolute;
  right: 0;
  width: 90%;

  background-color: red;
}

.menu-layer .test-check {
  position: absolute;
  left: 0;
  width: 10%;
  background-color: green;
}

.menu-layer .test-range-text {
  position: absolute;
  right: 0;
  width: 80%;

}

.div-line {
  border-bottom: 4px solid rgb(0,0,255);
}